@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$lgreen: #13e845;
$dgreen: #3d6947;
$dbrown: #69433d;
$red: #e83213;
$grey: #c9c9c9;
$bg: #12141d;
$lbrown: #82493e;

$fonts: "Exo 2", sans-serif;

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}

@mixin hw($width: 100%, $height: fit-content) {
  height: $height;
  width: $width;
}
