@import "./utils";

.company {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(0, 0, 0);

  button {
    background: $bg;
    color: $lgreen;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 2rem;
    border: 3px solid $dgreen;
    font-family: font;
    letter-spacing: 1px;
    border-radius: 10px;
  }

  .robot {
    position: relative;
    img {
      height: 70vh;
      border-radius: 10px;
      width: 28vw;
    }

    .text {
      position: absolute;
      color: white;
      top: 0;
      display: flex;
      height: 70vh;
      padding: 0.5rem;
      flex-direction: column;
      justify-content: space-between;
      font-family: font;

      .top {
        font-size: 1.5rem;
        background: #00000080;
        width: 70%;
        text-align: center;
        border-radius: 50px;

        span {
          color: $lgreen;
        }
      }

      .bottom {
        background: linear-gradient(
          0deg,
          #10e956,
          hsla(0, 0%, 100%, 0.005) 93%
        );
        padding: 0;
        h4 {
          font-size: 2.2rem;
          letter-spacing: 2px;
        }
        p {
          display: flex;
          justify-content: space-between;
          width: 100%;
          text-align: center;
          align-items: center;
          font-size: 1.2rem;

          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
