@import "./utils";

.header {
  width: 100vw;
  height: fit-content;
  // padding: 0 1rem;
  background: $lgreen;
  @include flexer(center, space-between);

  img {
    height: 8vh;
    width: 4.5%;
  }

  .icon {
    font-size: 4rem;
    cursor: pointer;
  }
}
