@import "./utils.scss";
@import "./App.scss";

.header{
    width: 95%;
    height: 12vh;
    padding: 0 2rem;
    background: #13e845;
    @include flexer(center,space-between);

    img{
        height: 8vh;
        width: 4.5%;
    }

    .icon{
        font-size: 4rem;
        cursor: pointer;
    }
}